body {
    background-color: #bbdfd0;
}

img {
    width: 100%;
}

.HOME,
.INFO {
    width: 220px;
    height: 40px;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    text-align: center;
    background-color: #71D336;
    border-color: #199c24;
    border-radius: 15px;
    border-width: 2px;
    border-style: outset;
    color: white;
}

.buttons {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 5px;
    border-radius: 10px;
    padding: 1%;
    background-color: #90ccb2;
}

select {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: #71D336;
    border-radius: 15px;
    border-style: outset;
    border-width: 2px;
    color: white;
    width: 120px;
    height: 40px;
}

.clear,
.curiosity {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: #71D336;
    border-radius: 15px;
    border-width: 2px;
    color: white;
    width: 120px;
    height: 40px;
}

.search {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    text-align: center;
    background-color: #71D336;
    border-radius: 15px;
    border-width: 2px;
    color: white;
    width: 250px;
    height: 40px;

}

.cards {
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #90ccb2;
}

.board-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 95%;
    background-image: url(banner-card.jpg);
    background-repeat: no-repeat;
    background-size: 292px 421px;
    border: 4px solid #810964;
    border-radius: 25px;
    padding: 15px 0;
    margin: 10px;
    margin-bottom: 25px;
}

.picture-frame {
    border: 4px solid #820a65;
    border-radius: 25px;
    height: 190px;
    width: 220px;
}

.overLap-group {
    width: 200px;
    height: 160px;
    position: relative;

}

.text-box {
    background-color: #810964;
    border-radius: 25px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
    text-align: center;
}

.status-text-box {
    position: absolute;
    top: 42px;
    left: 0;
    height: 31px;
    width: 200px;
    margin-top: 10px;
    padding: 1%;
}

.name-text-box {
    position: absolute;
    top: 4px;
    left: 0;
    height: 31px;
    width: 200px;
    padding: 1%;
}

.gender-text-box {
    position: absolute;
    top: 80px;
    left: 0;
    height: 31px;
    width: 200px;
    margin-top: 20px;
    padding: 1%;
}

.valing-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.species-text-box {
    position: absolute;
    top: 118px;
    left: 0;
    height: 31px;
    width: 200px;
    margin-top: 30px;
    padding: 1%;
}

.authors {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #71D336;
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

/*--Ajuste para smartphone--*/

@media screen and (max-width: 480px) {

    .cards {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;
    }

    select {
        width: 120px;
        height: 30px;
        font-size: 1rem;
        margin-top: 2%;
    }

    .clear,
    .curiosity {
        width: 120px;
        height: 30px;
        font-size: 1rem;
        margin-top: 2%;
    }

    .search {
        width: 180px;
        height: 30px;
        font-size: 1rem;
        margin-top: 2%;
    }

    .HOME,
    .INFO {
        width: 200px;
        height: 30px;
        font-size: 1rem;

    }

}